body {
    background-color: grey;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

header {
    padding-top: 20px;
}

img {
    max-height: 250px;
    max-width: 200px;
}

.main {
    margin: auto;
    padding: 0 0 32px 0;
    width: 600px;
    background-color: white;

    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);

    line-height: 1.5;
}

.picture {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.reasons {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.contacts > ul {
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
}

.feedback {
    border-top: 1px solid grey;
}

.feedback > ul {
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
}

.ul {
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
}